.search-zip-code__content{
    display: flex;
    width: '100%';
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.search-zip-code__info{
    font: medium sans-serif;
    text-align: center;
}

.search-zip-code__form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 25px;
}

.label-input{
    font: bold small sans-serif;
    margin-bottom: 3px;
}

.input{
    width: '100%';
    height: 40px;
    margin-bottom: 10px;
}

.form__container-btns{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: '100%';
}

.form__btn-goback{
    background-color: #ddd;
    border: 0;
    border-radius: 8px;
    color: #800080;
    font-weight: bold;
    font-family: sans-serif;
    height: 40px;
    transition: 0.2s all;
    text-decoration: none;
    width: 100px;
    font-size: medium;
}

.form__btn-goback:hover{
    cursor: pointer;
    background-color: #ccc;
}

.btn-submit-form{
    background-color: #800080;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
    height: 40px;
    transition: 0.2s all;
    width: 100px;
}

.btn-submit-form:hover{
    background-color: rgb(115, 0, 115);
    cursor: pointer;
}

.btn-submit-form:disabled{
    background-color: #aaa;
    cursor: auto;
}

@media screen and (max-width: 426px){
    .search-zip-code__content{
        margin-top: 20px;
    }
    .search-zip-code__info{
        font-size: small;
    }
    .search-zip-code__form{
        width: 95vw;
    }
}