.home__content{
    display: flex;
    width: '100%';
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.home__title{
    color: #387EFF;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
    text-align: center;
}

.home__subtitle{
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-bottom: 5px;
}

.home__description{
    font: 400 medium;
    margin-bottom: 10px;
    text-align: center;
}

.home__strong{
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    font-size: large;
    color: #387EFF;
    margin-bottom: 24px;
}

.home__area-btns{
    display: flex;
    align-items: center;
    gap: 12px;
}

.home__btn{
    display: flex;
    align-items: center;
    background-color: #387EFF;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: medium;
    height: 40px;
    justify-content: center;
    transition: 0.2s all;
    text-decoration: none;
    width: 150px;
}

.home__btn:hover{
    background-color: #2e69d7;
    cursor: pointer;
}

@media screen and (max-width: 376px){
    .home__content{
        margin-top: 20px;
    }
    .home__title{
        font-size: x-large;
    }
    .home__subtitle{
        font-size: medium;
    }
    .home__description{
        font-size: medium;
    }
}