.header__container{
    align-items: center;
    background-color: #387EFF;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 15px;
    width: '100%';
}

.header__title{
    color: #fff;
    font-weight: bold;
    font-size: x-large;
}

.nav__link{
    font-weight: bold;
    font-size: medium;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #2e69d7;
    border-radius: 8px;
}

@media screen and (max-width: 426px){
    .header__container{
        flex-direction: column;
        height: 120px;
        justify-content: space-around;
    }

    .nav__link{
        font-size: small;
    }
}

@media screen and (max-width: 320px){
    .header__container{
        flex-direction: column;
        height: 120px;
        justify-content: space-around;
    }

    .nav__link{
        font-size: small;
    }
}