.footer__container{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #800080;
    position: fixed;
    bottom: 0;
}

.footer__strong{
    font: bold medium sans-serif;
    color: #fff;
}

@media screen and (max-height: 400px){
    .footer__container{
        position: relative;
        margin-top: 20px;
    }
}