.search-address__content{
    display: flex;
    width: '100%';
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.search-address__info{
    font-size: medium;
    font-weight: 400;
    text-align: center;
}

.search-address__form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 25px;
}

.form__container-btns{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: '100%';
}
@media screen and (max-width: 376px){
    .search-address__content{
        margin-top: 20px;
    }

    .search-address__info{
        font-size: small;
    }

    .search-address__form{
        width: 95vw;
    }
}