.item-list__container{
    border: 2px #387EFF solid;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 8px;
    width: '100%';
}

.item-list__container-texts-info{
    display: flex;
    margin-bottom: 5px;
    gap: 3px;
}

.item-list__label-info{
    font-weight:bold;
    font-size: medium;
}

.item-list__text-info{
    font-weight:bold;
    font-size: medium;
    color: #387EFF;
}

@media screen and (max-width: 426px){
    .item-list__label-info{
        font-size: small;
    }
    .item-list__text-info{
        font-size: small
    }
}